@import "tailwindcss";

:root {
  --color-primary: #f06f3c;
  --color-primary-dark: #b04e29;
  --color-primary-bright: #e2733f;
  --color-secondary: #f58e54;
  --color-accent: #009656;
  --color-accent-dark: #007a48;
  --color-white: #fffbfb;
  --color-light: #e2e2e2;
  --color-black: #232521;
  --color-dark: #0b0b0b;
  --font-sans: "Geist", "Geist Fallback", system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--color-white);
  color: var(--foreground);
  font-family: var(--font-sans)
}

@keyframes fabIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

