@import "tailwindcss";

:root {
  --color-primary: #d76032;
  --color-primary-dark: #b04e29;
  --color-primary-bright: #e2733f;
  --color-secondary: #f58e54;
  --color-accent: #009656;
  --color-accent-dark: #007a48;
  --color-white: #fffbfb;
  --color-black: #232521;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-white);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fabIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

